#version: "3.8"

x-airflow-env: &airflow-defaults
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-postgres/airflow
  AIRFLOW__WEBSERVER__RBAC: "true"
  AIRFLOW__CORE__LOAD_EXAMPLES: "false"

services:
  airflow-webserver:
    build: .
    env_file:
      - .env
    depends_on:
      airflow-postgres:
        condition: service_healthy
    environment: *airflow-defaults
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ../src:/opt/airflow/src
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    build: .
    env_file:
      - .env
    depends_on:
      airflow-postgres:
        condition: service_healthy
    environment: *airflow-defaults
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ../src:/opt/airflow/src
    command: scheduler

  airflow-postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:                     
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5
    volumes:
      - postgres_db:/var/lib/postgresql/data

volumes:
  postgres_db: